<nav class="navbar sticky-top navbar-light">
  <div class="container-fluid">
    <img
      class="nav-logo"
      src="static/favicon/android-icon-192x192.png"
      alt="Rushabh Mavkar Logo"
    />

    <!-- Offcanvas trigger button
        <button class="btn text-light ms-auto" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
        </svg>
      </button> -->

    <a
      class="btn btn-info btn-sm ms-auto rounded-pill"
      target="_blank"
      href="resume.pdf"
      >Resume</a
    >
  </div>
</nav>
