<div class="container mt-5">
  <h2 class="display-6 title-border">Projects I have worked on.</h2>

  <div id="project-container">
    <div class="project">
      <img src="../../../assets/projects/legl.png" alt="Lawyer Finder Image" />
      <div class="project-info">
        <h4 class="project-title">
          <a href="https://legl.herokuapp.com/"> Lawyer Finder </a>
        </h4>
        <p class="project-description">
          A platform to find the best lawyer in area. It is developed using
          Django and hosted on Heroku.
        </p>
        <ul class="project-tech">
          <li>Python</li>
          <li>Django</li>
          <li>Indian PostOffice API</li>
          <li>Google Maps API</li>
        </ul>
      </div>
    </div>

    <div class="project project-inverse">
      <img src="../../../assets/projects/recipe.png" alt="Recipe Site Image" />
      <div class="project-info">
        <h4 class="project-title">
          <a target="_blank" href="https://get-recipe.herokuapp.com/">
            Recipe Finder
          </a>
        </h4>
        <p class="project-description">
          A website developed to find recipes of your favorite dishes. It is
          developed using Flask Framework, uses Spoonacular API and hosted on
          Heroku.
        </p>
        <ul class="project-tech">
          <li>Python</li>
          <li>Flask</li>
          <li>Spoonacular API</li>
        </ul>
      </div>
    </div>

    <div class="project">
      <img
        src="../../../assets/projects/portfolio.png"
        alt="Personal Portfolio Image"
      />
      <div class="project-info">
        <h4 class="project-title">Portfolio</h4>
        <p class="project-description">
          Personal Portfolio hosted on GitHub made with Html, JavaScript and
          used Bootstrap and custom css for styling.
        </p>
        <ul class="project-tech">
          <li>HTML 5</li>
          <li>CSS 3</li>
          <li>JavaScript</li>
          <li>Bootstrap 5</li>
        </ul>
      </div>
    </div>
  </div>
</div>
