:root {
  --accent-color: #3f51b5;
  --font-light: white;
  --font-muted: gray;
  --main-color: #171f3b;
  --main-color-light: #a2a2ff;
  --main-color-dark: #11172b;
  --accent-light-color: #29ffa7;
  --fade-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#left li,
.project-title a,
.credits small,
.social svg,
.social li,
.certificate,
.arrow-link-holder,
.arrow-link svg {
  transition: var(--fade-transition);
}

.certificate:hover .cert-title {
  color: var(--main-color-light);
}

.certificate:hover .cert-semi {
  color: white;
}

.certificate:hover {
  transform: translateY(-5px);
  background: var(--main-color);
  box-shadow: 0px 5px 20px 0px black;
}

#resume:hover .arrow-link-holder {
  background: var(--main-color-light);
  color: var(--main-color-dark);
}

#resume:hover .arrow-link svg {
  transform: translateX(8px);
}

.social svg:hover {
  color: var(--accent-light-color);
}

.social li:hover {
  border-bottom-color: var(--accent-light-color);
}

footer:hover .credits small {
  font-size: 0.9rem;
  color: white;
}

#left li:hover {
  transform: translateY(-5px);
}

#left svg:hover {
  color: var(--accent-light-color);
}

#left ul:hover::after {
  background-color: var(--accent-light-color) !important;
}

.project-title a:hover {
  color: var(--accent-light-color);
  text-shadow: 0 0 white;
}
