/* You can add global styles to this file, and also import other style files */
:root {
  --accent-color: #3f51b5;
  --font-light: white;
  --font-muted: gray;
  --main-color: #171f3b;
  --main-color-light: #a2a2ff;
  --main-color-dark: #11172b;
  --accent-light-color: #29ffa7;
  --accent-pop-color: #ffc107;
  --select-background-color: cyan;
  --select-color: #3f51b5;
}

::-moz-selection {
  color: var(--select-color);
  background: var(--select-background-color);
}

::selection {
  color: var(--select-color);
  background: var(--select-background-color);
}

body {
  background: var(--main-color);
  color: var(--font-light);
  font-family: "Roboto", serif !important;
}

.cust-btn {
  color: var(--accent-light-color);
  border: 1px solid;
  border-radius: 12px;
}

.title-border {
  border-bottom: 2px solid var(--accent-color);
  display: inline-block;
  padding-bottom: 3px;
}
